In [30]:
import pandas as pd
import numpy as np

In [85]:
pitchers_2016 = pd.read_table('pitchers_2016.csv', index_col=None, na_values=['NA'],sep=',')

In [72]:
pitchers_2017 = pd.read_table('pitchers_2017.csv', index_col=None, na_values=['NA'],sep=',')

In [73]:
pitchers_2016.head()

   playerid              Name  BABIP_2016
0      2036   Clayton Kershaw       0.254
1     11762  Noah Syndergaard       0.334
2     11530    Jose Fernandez       0.332
3      3137      Max Scherzer       0.255
4      6893      Johnny Cueto       0.293

In [74]:
pitchers_2017.head()

   playerid               Name  BABIP_2017
0     10603         Chris Sale       0.301
1      2429       Corey Kluber       0.267
2      3137       Max Scherzer       0.245
3     15890      Luis Severino       0.272
4     10131  Stephen Strasburg       0.274

In [75]:
outer_merge = pd.merge(pitchers_2016, pitchers_2017, left_on='Name', right_on='Name', how='outer')
outer_merge.head()

   playerid_x              Name  BABIP_2016  playerid_y  BABIP_2017
0      2036.0   Clayton Kershaw       0.254      2036.0       0.267
1     11762.0  Noah Syndergaard       0.334     11762.0       0.337
2     11530.0    Jose Fernandez       0.332         NaN         NaN
3      3137.0      Max Scherzer       0.255      3137.0       0.245
4      6893.0      Johnny Cueto       0.293      6893.0       0.322

In [76]:
outer_merge.tail()

     playerid_x            Name  BABIP_2016  playerid_y  BABIP_2017
952         NaN     Miguel Diaz         NaN     18815.0       0.275
953         NaN  David Holmberg         NaN      7725.0       0.273
954         NaN  Bronson Arroyo         NaN       978.0       0.305
955         NaN     Dylan Covey         NaN     14825.0       0.296
956         NaN    Amir Garrett         NaN     14375.0       0.264

In [77]:
left_merge = pd.merge(pitchers_2016, pitchers_2017, left_on='Name', right_on='Name', how='left')
left_merge.head()

   playerid_x              Name  BABIP_2016  playerid_y  BABIP_2017
0        2036   Clayton Kershaw       0.254      2036.0       0.267
1       11762  Noah Syndergaard       0.334     11762.0       0.337
2       11530    Jose Fernandez       0.332         NaN         NaN
3        3137      Max Scherzer       0.255      3137.0       0.245
4        6893      Johnny Cueto       0.293      6893.0       0.322

In [78]:
inner_merge = pd.merge(pitchers_2016, pitchers_2017, left_on='Name', right_on='Name', how='inner')
inner_merge

     playerid_x              Name  BABIP_2016  playerid_y  BABIP_2017
0          2036   Clayton Kershaw       0.254        2036       0.267
1         11762  Noah Syndergaard       0.334       11762       0.337
2          3137      Max Scherzer       0.255        3137       0.245
3          6893      Johnny Cueto       0.293        6893       0.322
4          8700  Justin Verlander       0.255        8700       0.271
..          ...               ...         ...         ...         ...
536        9037       J.J. Hoover       0.333        9037       0.367
537        9975    Tom Wilhelmsen       0.329        9975       0.266
538        7059     James Shields       0.302        7059       0.270
539       11528        Josh Osich       0.229       11528       0.333
540        3196       Chris Young       0.317        3196       0.385

[541 rows x 5 columns]

In [79]:
lg_avg = [.300]

In [80]:
pitchers_2016['lg_avg'] = .300

In [81]:
pitchers_2016.head()

   playerid              Name  BABIP_2016  lg_avg
0      2036   Clayton Kershaw       0.254     0.3
1     11762  Noah Syndergaard       0.334     0.3
2     11530    Jose Fernandez       0.332     0.3
3      3137      Max Scherzer       0.255     0.3
4      6893      Johnny Cueto       0.293     0.3

In [88]:
pitchers_2016['BABIP_2016']

0      0.254
1      0.334
2      0.332
3      0.255
4      0.293
       ...
737    0.306
738    0.361
739    0.302
740    0.229
741    0.317
Name: BABIP_2016, Length: 742, dtype: float64

In [92]:
pred_2016 = np.mean(abs(['BABIP_2016' - 'BABIP_2017']))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [93]:
pred_2016 = np.mean(abs(pitchers_2016['BABIP_2016'] - pitchers_2017['BABIP_2017']))

In [94]:
pred_2016

0.08115768194070086

In [95]:
pred_lgavg = np.mean(abs(lg_avg - pitchers_2017['BABIP_2017']))

In [96]:
pred_lgavg

0.0571695364238411